{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock title %}


{% block content %}
    <h1>{{ module.title }}</h1>
    <div class="contenst">
        <h3>Modules</h3>
        <ul id="modules">
            {% for mod in course.modules.all %}
                <li data-id="{{ mod.id }}" {% if mod == module %} class="selected" {% endif %}>
                    <a href="{% url 'student_course_detail_module' object.id mod.id %}">
                        <span>
                            Module <span class="order"></span>
                            {{ mod.order|add:1 }}
                            </span>
                        <br>
                        {{ mod.title }}
                    </a>
                </li>
            {% empty %}
                <li>No modules yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for content in module.contents.all %}
            {% with item=content.item %}
                <h2>{{ item.title }}</h2>
                {{ item.render }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}